@import "tailwindcss";

:root {
  --default-font-family: "Inter", sans-serif;
}
/* Footer Background */
.footer-bg {
  background: #0b2545;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

/* FAQ Accordion */
.faq-item {
  background: #f8fbff;
  border-radius: 14px;
  padding: 18px 22px;
  border: 1px solid #e0eaff;
}

.faq-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.faq-content {
  margin-top: 12px;
  color: #4b5563;
  line-height: 1.7;
}