@import "tailwindcss";

@theme {
  --default-font-family: "Inter", sans-serif;
  --color-dmt-black1: #1e1e1f;
  --color-dmt-black2: #38435c;
  --color-dmt-brand1-lg1: #ff8079;
  --color-dmt-brand1-lg2: #ff1e1e;
  --color-dmt-brand2: #df3636;
  --color-dmt-brand3: #ffe9e9;
  --color-dmt-blue1: #4285fa;
  --color-dmt-blue2: #f1f5ff;
  --color-dmt-blue3: #F4F8FC;
  --color-dmt-green1: #34a853;
  --color-dmt-green2: #eff8f2;
  --color-dmt-yellow1: #f88513;
  --color-dmt-yellow2: #fdf5e6;
  --color-dmt-gray1: #6f7b88;
  --color-dmt-gray2: #a9b0b8;
  --color-dmt-gray3: #e9f0f8;
  --color-dmt-lin1: #f88513;
  --color-dmt-lin2: #34a853;
  --color-dmt-ratings-lg1: #ffa600;
  --color-dmt-ratings-lg2: #ff6c10;
}

@layer base {
  .container {
    @apply w-285 mx-auto;
  }
}

@layer components {
  .btn {
    @apply py-3 sm:py-2.5 items-center md:text-base text-sm xl:text-lg bg-dmt-blue1 text-white font-medium leading-[120%] rounded-[10px];
  }
.banner-label {
  @apply flex items-center gap-2 px-3 py-2 text-sm font-normal border rounded-[10px] transition-all duration-200 leading-[120%];
}

.form-label {
  @apply block text-xs font-medium text-dmt-black1 mb-2;
}

.form-input {
  @apply w-full rounded-lg border border-dmt-gray2
  bg-dmt-blue3
  focus:bg-white
  focus:border-dmt-blue1
  focus:ring-2 focus:ring-dmt-blue1/20
  focus:outline-none
  placeholder:text-dmt-gray1
  focus:placeholder:text-dmt-blue1
  text-xs
  pl-9.5 py-2.75
  transition-all duration-200;
}

.input-icon {
  @apply absolute left-3 top-1/2 -translate-y-1/2 w-5 h-5;
}

  .card {
    @apply w-[calc((100%-48px)/3)] shrink-0 p-10 rounded-2xl text-center text-xl font-semibold;
  }
  .indicator-line {
    @apply w-10 h-1 bg-gray-300 rounded-[10px];
  }
  .active-indicator {
    @apply bottom-0 -ml-48 flex justify-center 
            w-10 bg-blue-600 rounded-[10px];
  }

  /* ================= SLIDER ================= */

  .slider-track {
    /* margin-left: 300px; */
    animation: slide 18s infinite;
  }
  /* ................................form part start................................ */
  .form_Label {
    @apply mb-2 block text-[12px] font-medium text-dmt-black1;
  }
  .form_Input_Div {
    @apply border text-dmt-gray1 hover:border-dmt-blue1 rounded-[10px] transition-colors;
  }
  .form_Input {
    @apply text-[12px] font-medium group-hover:text-dmt-blue1 w-full py-3 pr-3 pl-10;
  }
  .input_wrapper {
    @apply relative w-full;
  }
  .input_icon {
    @apply absolute left-3 top-1/2 -translate-y-1/2 w-4.5;
  }
  .icon_Right_Arrow {
    @apply absolute right-31.25 top-[30%] -translate-y-1/2 w-6.25 cursor-pointer;
  }
  /* ................................form part end................................ */

@keyframes slide {

  0% { transform: translateX(0); }
  30% { transform: translateX(0); }

  35% { transform: translateX(calc(-1 * ((100% + 24px) / 3))); }
  65% { transform: translateX(calc(-1 * ((100% + 24px) / 3))); }

  70% { transform: translateX(calc(-2 * ((100% + 24px) / 3))); }
  95% { transform: translateX(calc(-2 * ((100% + 24px) / 3))); }

  100% { transform: translateX(0); }
}

  /* ================= INDICATOR ================= */

  /* Indicator Move Sync */

@keyframes indicatorMove {

  0% { transform: translateX(0); }
  30% { transform: translateX(0); }

  35% { transform: translateX(48px); }
  65% { transform: translateX(48px); }

  70% { transform: translateX(96px); }
  95% { transform: translateX(96px); }

  100% { transform: translateX(0); }
}
}
