@import "tailwindcss";

@theme {
  --default-font-family: "Inter", sans-serif;
  --color-dmt-black1: #1e1e1f;
  --color-dmt-black2: #38435c;
  --color-dmt-brand1-lg1: #ff8079;
  --color-dmt-brand1-lg2: #ff1e1e;
  --color-dmt-brand2: #df3636;
  --color-dmt-brand3: #ffe9e9;
  --color-dmt-blue1: #4285fa;
  --color-dmt-blue2: #f1f5ff;
  --color-dmt-green1: #34a853;
  --color-dmt-green2: #eff8f2;
  --color-dmt-yellow1: #f88513;
  --color-dmt-yellow2: #fdf5e6;
  --color-dmt-gray1: #6f7b88;
  --color-dmt-gray2: #a9b0b8;
  --color-dmt-gray3: #e9f0f8;
  --color-dmt-lin1: #f88513;
  --color-dmt-lin2: #34a853;
  --color-dmt-ratings-lg1: #ffa600;
  --color-dmt-ratings-lg2: #ff6c10;
}

@layer base {
  .container {
    @apply w-400 mx-auto;
  }
  .sub-container {
    @apply w-285 mx-auto;
  }
}

@layer components {
  .btn {
    @apply px-3 py-3 text-base sm:px-4 sm:py-4 sm:text-lg bg-dmt-blue1 text-white font-medium leading-[1.2] rounded-[10px];
  }
  /* ................................form part start................................ */
  .form_Label {
    @apply mb-2 block text-[12px] font-medium text-dmt-black1;
  }
  .form_Input_Div {
    @apply border text-dmt-gray1 hover:border-dmt-blue1 rounded-[10px] transition-colors;
  }
  .form_Input {
    @apply text-[12px] font-medium group-hover:text-dmt-blue1 w-full py-3 pr-3 pl-10;
  }
  .input_wrapper {
    @apply relative w-full;
  }
  .input_icon {
    @apply absolute left-3 top-1/2 -translate-y-1/2 w-4.5;
  }
  .icon_Right_Arrow {
    @apply absolute right-31.25 top-[30%] -translate-y-1/2 w-6.25 cursor-pointer;
  }
  /* ................................form part end................................ */
}
